@model GlobalHockeyConnections.Models.ShowCase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShowCase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SwocaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SwocaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowCaseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowCaseDescription.ShowCaseInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
